In [3]:
from pydata.census import ipums

In [4]:
API_KEY = '59cba10d8a5da536fc06b59dca65e0e2735a4113ae3c324c166a9f0a'

ipums.set_api_key(API_KEY)

In [5]:
extract = ipums.MicrodataExtract(
    collection="usa",
    description="Sample USA extract",
    samples=["us2012b"],
    variables=["AGE", "SEX","YEAR"],
)

In [6]:
df = ipums.read_cps_extract(extract)

Reading cps extract: <ipumspy.api.extract.MicrodataExtract object at 0x0000028AFE11D790>
Extract downloaded

c:\Users\marcd\AppData\Local\pypoetry\Cache\virtualenvs\pydata-21sg5Inf-py3.11\Lib\site-packages\ipumspy\readers.py:70: CitationWarning: Use of data from IPUMS is subject to conditions including that users should cite the data appropriately.
See the `ipums_conditions` attribute of this codebook for terms of use.
See the `ipums_citation` attribute of this codebook for the appropriate citation.
  warnings.warn(

In [7]:
df

       year  sample  serial  cbserial   hhwt  gq  pernum  perwt  sex  age
0      2012  201202       1       101    9.0   4       1    9.0    1   51
1      2012  201202       2       202   16.0   3       1   16.0    2   66
2      2012  201202       3       203   69.0   1       1   69.0    2   33
3      2012  201202       3       203   69.0   1       2   65.0    2   16
4      2012  201202       3       203   69.0   1       3   55.0    1   15
...     ...     ...     ...       ...    ...  ..     ...    ...  ...  ...
33052  2012  201202   13819   1493470  110.0   1       2   98.0    1   14
33053  2012  201202   13819   1493470  110.0   1       3  189.0    1    3
33054  2012  201202   13819   1493470  110.0   1       4  129.0    2   36
33055  2012  201202   13820   1493812   69.0   1       1   69.0    2   68
33056  2012  201202   13820   1493812   69.0   1       2   91.0    1   77

[33057 rows x 10 columns]