In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("https://img1.wsimg.com/blobby/go/e5e77e0b-59d1-44d9-ab25-4763ac982e53/downloads/2d6fa720-95d6-4953-b869-1948ad39173e/ie_data.xls?ver=1764695321121",
sheet_name="Data", skiprows=7, skipfooter=1)

In [3]:
df = df.rename(columns={"Date":"date",
                        "P":"spy_price",
                        "D":"spy_dividend",
                        "E":"spy_earnings",
                        "CPI":"cpi",
                        "Rate GS10": "long_interest_rate",
                        "Price": "real_spy_price",
                        "Dividend":"real_spy_dividend",
                        "Price.1": "real_total_spy_returns",
                        "Earnings":"real_spy_earnings",
                        "Returns":"monthly_total_bond_returns",
                        "Returns.1": "real_total_bond_returns"})
df["date"] = pd.to_datetime(df["date"].astype("str").str.replace(r"\.1$",".10",regex=True), format="%Y.%m")
df = df.set_index("date")

In [19]:
def foo(df, date_from, date_to):
    df = df.loc[date_from:date_to]
    equity_return = np.log(df["real_total_spy_returns"]).diff().mean()*12
    bond_return = np.log(df["real_total_bond_returns"]).diff().mean()*12
    equity_risk_premium = equity_return - bond_return
    return (equity_return, bond_return, equity_risk_premium)

foo(df, "1985-01-01", "2020-01-01")

(np.float64(0.08136733034239982),
 np.float64(0.04483016093727645),
 np.float64(0.03653716940512337))

In [13]:
np.log(df["real_total_spy_returns"]).diff().std()*np.sqrt(12)

np.float64(0.14052351240235353)

In [15]:
np.log(df["real_total_spy_returns"]).diff().mean()*12

np.float64(0.06835868372708556)

In [16]:
np.log(df["real_total_bond_returns"]).diff().mean()*12

np.float64(0.02397759786779355)

In [22]:
df = df.loc[:"2024-01-01"]

In [31]:
((df.loc["2000-01-01":,"monthly_total_bond_returns"]-1)*12).mean()

np.float64(0.04138132440263954)

In [34]:
((df.loc["1985-01-01":,"monthly_total_bond_returns"]-1).mean())*12

np.float64(0.06224855617462571)

In [4]:
#select only january month

df_jan = df[df.index.month==1]

In [5]:
(np.log(df_jan["real_total_spy_returns"]).diff(1)-np.log(df_jan["real_total_bond_returns"]).diff(1)).mean()

np.float64(0.044315199166628405)

In [6]:
df_2 = df_jan.loc["1985-01-01":"2019-01-01"]
(np.log(df_2["real_total_spy_returns"]).diff(1)-np.log(df_2["real_total_bond_returns"]).diff(1)).mean()

np.float64(0.03339514569627505)

In [7]:
np.log(df_2["real_total_spy_returns"]).diff().std()

np.float64(0.1632896303946387)

In [8]:
np.log(df_2["real_total_bond_returns"]).diff().mean()

np.float64(0.04379268307183318)

In [12]:
np.log(df_jan["real_total_bond_returns"]).diff().mean(), np.log(df_jan["real_total_bond_returns"]).diff().std()

(np.float64(0.023706338967052324), np.float64(0.08657025471430416))

In [106]:
np.log(df_jan["real_total_bond_returns"]).diff().mean()

np.float64(0.023706338967052324)

In [102]:
(df_2["spy_price"]/df_2["spy_dividend"]).mean()

np.float64(48.24082623383686)

In [ ]:
df_2 = df_jan.loc["1985-01-01":"2019-01-01"]
(np.log(df_2["real_total_spy_returns"]).diff(1)-np.log(df_2["real_total_bond_returns"]).diff(1)).mean()

In [96]:
(np.log(df_2["real_total_spy_returns"]).diff(1)-np.log(df_2["real_total_bond_returns"]).diff())

date
1985-01-01         NaN
1986-01-01   -0.005136
1987-01-01    0.055808
1988-01-01    0.002649
1989-01-01    0.105050
1990-01-01    0.065008
1991-01-01   -0.101167
1992-01-01    0.126072
1993-01-01   -0.025512
1994-01-01   -0.009882
1995-01-01    0.087448
1996-01-01    0.084608
1997-01-01    0.247282
1998-01-01    0.106323
1999-01-01    0.158739
2000-01-01    0.235483
2001-01-01   -0.224662
2002-01-01   -0.203373
2003-01-01   -0.348535
2004-01-01    0.220876
2005-01-01    0.022691
2006-01-01    0.070275
2007-01-01    0.105172
2008-01-01   -0.141885
2009-01-01   -0.578297
2010-01-01    0.358338
2011-01-01    0.092570
2012-01-01   -0.116209
2013-01-01    0.127406
2014-01-01    0.288918
2015-01-01    0.015153
2016-01-01   -0.037113
2017-01-01    0.204150
2018-01-01    0.213200
2019-01-01   -0.066012
2020-01-01    0.143366
2021-01-01    0.093824
2022-01-01    0.249711
2023-01-01   -0.001292
2024-01-01    0.216549
2025-01-01    0.234224
dtype: float64

In [90]:
(df["spy_price"]/df["spy_dividend"]).mean()

np.float64(29.48494373409542)

In [ ]:

(np.log(df["real_total_spy_returns"]).diff(1)-np.log(df["real_total_bond_returns"]).diff(1)).mean()

np.float64(0.0036984238216076683)

In [23]:
df

,spy_price,spy_dividend,spy_earnings,cpi,Fraction,long_interest_rate,real_spy_price,real_spy_dividend,real_total_spy_returns,real_spy_earnings,...,CAPE,Unnamed: 13,TR CAPE,Unnamed: 15,Yield,monthly_total_bond_returns,real_total_bond_returns,Real Return,Real Return.1,Returns.2
date,,,,,,,,,,,,,,,,,,,,,
1871-01-01,4.440000,0.260000,0.400000,12.464061,1871.041667,5.320,115.921761,6.788211,1.159218e+02,10.443402,...,NaN,NaN,NaN,NaN,NaN,1.004177,1.000000,0.130609,0.092504,0.038106
1871-01-01,4.590000,0.260000,0.400000,12.368896,1871.791667,5.350,120.760061,6.840439,1.258450e+02,10.523753,...,NaN,NaN,NaN,NaN,NaN,1.004202,1.046320,0.114765,0.081653,0.033113
1872-01-01,4.860000,0.263300,0.402500,12.654392,1872.041667,5.360,124.978862,6.770974,1.320412e+02,10.350616,...,NaN,NaN,NaN,NaN,NaN,1.003060,1.035670,0.107684,0.084931,0.022753
1872-01-01,4.970000,0.293300,0.425000,12.749476,1872.791667,5.525,126.854426,7.486198,1.397001e+02,10.847712,...,NaN,NaN,NaN,NaN,NaN,1.003208,1.057229,0.108701,0.085572,0.023128
1873-01-01,5.110000,0.302500,0.432500,12.939807,1873.041667,5.580,128.509338,7.607451,1.436359e+02,10.876769,...,NaN,NaN,NaN,NaN,NaN,1.005347,1.051787,0.104388,0.089147,0.015241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01,4269.400909,69.643321,186.976667,307.671000,2023.791667,4.800,4515.667401,73.660470,2.976854e+06,197.761807,...,28.769055,NaN,31.110796,NaN,0.014708,1.027963,37.247561,NaN,NaN,NaN
2024-01-01,4815.613913,70.477403,192.083333,308.417000,2024.041667,4.060,5081.067024,74.362359,3.362251e+06,202.671624,...,32.045123,NaN,34.620305,NaN,0.018641,0.991240,39.840706,NaN,NaN,NaN
2024-01-01,5792.319565,73.877418,203.570000,315.664000,2024.791667,4.100,5971.301917,76.160226,3.991325e+06,209.860302,...,36.587211,NaN,39.375226,NaN,0.015221,0.982514,40.006731,NaN,NaN,NaN
2025-01-01,5979.515500,75.269937,212.343333,317.671000,2025.041667,4.630,6125.337141,77.105535,4.107119e+06,217.521722,...,37.129220,NaN,39.899969,NaN,0.011804,1.018269,38.504542,NaN,NaN,NaN
2025-01-01,6735.691739,NaN,NaN,325.212000,2025.791667,4.060,6739.958348,NaN,4.558056e+06,NaN,...,39.205692,NaN,41.942170,NaN,0.016690,1.000941,40.668527,NaN,NaN,NaN